$background-gray: #f0f2f5;
$background-pink: #ffe6fe;
$background-blue: #e1eaf5;
$background-orange: #f5ede1;
$background-white: white;

$text-gray: #6d6f73;
$text-blue: #103db8;
$text-light-blue: #5aa3c0;

$discussion-blue: #35a1ff;
$checkmark-blue: #1877f2;
$discussion-blue: #62b1f6;
$brain-pink: #f03268;
$marker-orange: #f28e29;

$youtube-background: #000000;
$spotify-background: #1ed75f;
$tiktok-background: #aefcfc;

$login-form-color: soft-green;
$secondary-color: light-gray;
$facebook-blue: #1877f2;
$google-red: #de5246;
$app-green: #4cb45a;