@import 'variables';

body {
  height:100vh;
  background-color: $background-gray;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif !important;
  -webkit-font-smoothing: antialiased;
}

div {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif !important;
  -webkit-font-smoothing: antialiased;
}

span {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif !important;
  -webkit-font-smoothing: antialiased; 
}

textarea {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif !important;
  -webkit-font-smoothing: antialiased;
}

input {
  background: #eee;
  border: none;
  border-radius: 5px;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
  outline: none;
}

.header {
  background: linear-gradient(to right, $app-green, #5ece41) no-repeat 0 0/cover;
  padding: 7px;
  box-shadow: 0px 0px 7px rgba(0,0,0,0.2);
  margin-bottom: 2px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 30px;
  
  .userHeader {
    display: flex;
    align-items: center;
    .userName {
      margin-inline-start: 10px;
      margin-bottom: 2px;
      font-weight: 600;
    }
  }

  .chambersHeader {
    position: relative;
    bottom: 2px;
    margin-inline-start: 10px;
    font-size: 18px;
    font-weight: bold;
  }

  .logout {
    cursor: pointer;
  }
}

.errorBoundaryDiv {
  display: flex;
  justify-content: center;
  
  .error {
    font-size: 14px;
    background-color: $background-gray;
    border-radius: 5px;
  }
}

.loaderDiv {
  display: flex;
  justify-content: center;
  .loaderSpinner {
    width: 20;
    color: $app-green;

    &.commentLoader {
      display: inline-flex;
    }
  }
}

.modalContainer {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;

  &.open {
    opacity: 1;
    visibility: visible;
    z-index: 999;
  }

  .closeButton {
    position: absolute;
    right: 1rem;
    top: 1rem;
    background-color: white;
    border: 0;
    font-size: 1.5rem;
    cursor: pointer;
  }

  .modalBody {
    background-color: white;
    position: relative;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    opacity: 0;
    visibility: visible;
    transition: all 0.3s ease-in-out;

    &.open {
      opacity: 1;
      visibility: visible;
    }

    .userProfileImg {
      position: absolute;
      left: 5%;
      top: 5%;
      height: 40px;
      width: 40px;
    }
  }
}
    
.loginDiv, .signupDiv {
  display: flex;
  justify-content: center;
  padding-top: 100px;

  .container {
    background: #fff;
    border-radius: 5px;
    box-shadow: 30px 14px 28px rgba(0, 0, 5, .2), 0 10px 10px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
    opacity: 85%;
    width: 750px;
    min-height: 400px;
    
    h1 {
      font-weight: bold;
      margin: 0;
    }
  
    p {
      font-size: 14px;
      font-weight: 100;
      line-height: 20px;
      letter-spacing: .5px;
      margin: 20px 0 30px;
    }
  
    span {
      font-size: 12px;
    }
  
    a {
      color: #0e263d;
      font-size: 14px;
      text-decoration: none;
      margin: 15px 0;
    }
    
    button {
      border-radius: 5px;
      border: 1px solid white;
      background: $app-green;
      color: #fff;
      font-size: 12px;
      font-weight: bold;
      padding: 12px 45px;
      letter-spacing: 1px;
      text-transform: uppercase;
      transition: transform 80ms ease-in;
      cursor: pointer;
    
      &:active {
        transform: scale(.95);
      }
    }

    .signInContainer {
      position: absolute;
      top: 0;
      height: 100%;
      transition: all .6s ease-in-out;
      left: 0;
      width: 50%;
      z-index: 2;
      
      .loginForm { 
        background: #fff;
        display: flex;
        flex-direction: column;
        padding:  0 50px;
        height: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;

        .signinHeader {
          color: $app-green;
        }

        .signInExplanation {
          color: $text-gray;
          margin-top: 10px;
          margin-bottom: 20px;
          font-size: 14px;
          font-weight: bolder;
        }

        .socialContainer {
          display: inline-flex;
          flex-direction: row;
          justify-content: space-evenly;
          width: 50%;
          
          .facebookButton {
            color: $facebook-blue;
            cursor: pointer;
          }

          .googleButton {
            color: $google-red;
            cursor: pointer;
          }
        }

        .forgotPassword {
          margin-bottom: 20px;
        }
      }
    }
  }

  .overlayContainer {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform .6s ease-in-out;
    z-index: 100;
      
    .overlay {
      background: linear-gradient(to right, $app-green, #5ece41) no-repeat 0 0/cover;
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;

      .createAccountDiv {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
  }
}


.mainDiv {
  padding-top: 30px;
  display: flex;
  justify-content: center;
  
  .mainPage {
    width: 50%;
  }
}

.newTopicDiv {
  background-color: white;
  padding: 20px;
  background-color: $background-white;
  border-radius: 5px;
  box-shadow: 0px 0px 2px rgba(0,0,0,0.4);
  margin-bottom: 20px;

  .newTopic {
    width: 100%;
    display: flex;
    
    .newTopicTextCont {
      position: relative;
      width: 90%;
      background-color: #f0f2f5;
      border-radius: 5px;
      margin-inline-start: 10px;

      .topicTextInp {
        width: 88%;
        border: 0;
        background-color: #f0f2f5;
        border-radius: 5px;
        padding: 10px;
        font-size: 14px;
        resize: none;
        overflow: hidden;
  
        &:focus {
          outline: none;
        }
      }
      .sendDiv {
        .topicTextLoader {
          display: inline-flex;
          position: relative;
          right: -12px;
          bottom: 9px;
        }
       
        .sendIcon {
          position: absolute;
          right: 12px;
          bottom: 8px;
          color: $app-green;
    
          &:hover {
            cursor: pointer;
            margin-bottom: 1px;
          }
        }
      }
    }
  }

  .itemAdditionDiv {
    display: flex;
    margin-top: 10px;
    margin-inline-start: 50px;

    .knowledgeItemAddition, .popularItemAddition {
      display: flex;
      flex-direction: column;
      align-items: center;
      
      .itemAdditionBtn {
        display: inline-flex;
        margin-inline-end: 10px;
        padding: 7px;
        padding-left: 9px;
        padding-right: 10px;
        border-radius: 5px;
        background-color: $background-gray;
        cursor: pointer;
        
        .fileUploadDiv {
          margin-bottom: 0px;
        }

        &.uploadedKnowledge {
          background-color: $background-blue;
        }

        &.uploadedPopular {
          background-color: $background-pink;
        }
      }

      .knowledgeFileName, .popularUrl {
        font-size: 12px;
        width: 50px;
        margin-top: 5px;
      }
    }
  }
}

.topicsDiv {
  min-height: 100vh;
  
  .topicDiv {
    padding: 20px;
    margin-bottom: 20px;
    background-color: $background-white;
    border-radius: 5px;
    box-shadow: 0px 0px 2px rgba(0,0,0,0.4);

    .topicHeaderDiv {
      display: flex;
  
      .nameAndDate {
        display: flex;
        flex-direction: column;
        margin-inline-start: 7px;
        position: relative;
        bottom: 4px;
        margin-inline-end: 0px;
        
        .userNameSpan {
          display: flex;
          margin-top: 2px;
          
          .userName {
            font-weight: 500;
          }
        }
  
        .topicCreatedTime {
          font-size: 12px;
          margin-top: 1px;
          color: $text-gray;
          font-weight: 400;
          
          .globeIcon {
            position: relative;
            left: 5px;
            top: 2px;
          }
        }
      }
    }
    .topicText {
      margin-inline-start: 47px;
      margin-top: 5px;
      word-wrap: break-word;
      max-width: 90%;
    }
    .sectionSelectionDiv {
      margin-inline-start: 48px;
      margin-top: 25px;
      margin-bottom: 10px;
  
      .topicSectionCard {
        display: inline-flex;
        flex-direction: column;
        text-align: center;
        background-color: $background-white;
        padding: 3px;
        padding-left: 9px;
        padding-right: 10px;
        border-radius: 5px;
        margin-inline-end: 10px;
        margin-bottom: 15px;
  
        &.selected {
          background-color: $background-gray;
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
        }
  
        &:hover {
          cursor: pointer;
          background-color: $background-gray;
        }
  
        .selectionImg {
          width: 50px;
          height: 50px;
        }
  
        .dataCount {
          margin-top: 3px;
          font-size: 12px;
          font-weight: bold;
          color: $text-gray;
        }
      }
    }
  }
}

.discussionSectionDiv {
  .seeDiscussions {
    margin-inline-start: 7px;
    position: relative;
    display: block;
    margin-bottom: 13px;
    font-size: 16px;
    color: #4cb45a;
    width: -moz-fit-content;
    width: fit-content;
    padding: 3px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 5px;
    text-decoration: underline;
    cursor: pointer;
  }
  .newCommentCont {
    position: relative;
    width: 85%;
    padding: 3px;
    background-color: #f0f2f5;
    border-radius: 5px;
    margin-top: 3px;
    margin-bottom: 15px;
    margin-inline-start: 52px;

    .commentAuthorName {
      font-weight: 600;
      font-size: 14px;
      display: block;
      margin-inline-start: 7px;
      margin-top: 4px;

      .editingHint {
        position: absolute;
        right: 10px;
        top: 4px;
        font-size: 12px;
        font-weight: bold;
        color: $text-gray;

        &.empty {
          color: $site-red;
        }
      }
    }

    .newComment {
      .commentInp {
        border: 0;
        background-color: #f0f2f5;
        border-radius: 5px;
        width: 85%;
        padding: 10px;
        padding-bottom: 0px;
        line-height: inherit;
        font-size: 14px;
        resize: none;
        position: relative;
        bottom: 3px;
        overflow: hidden;
        
        &.editing {
          padding-top: 0;
          padding-left: 8px;
          padding-bottom: 5px;
          top: 0px;
        }

        &:focus {
          outline: none;
        }
      }
      .sendDiv {
        .commentLoader {
          display: inline-flex;
          position: relative;
          right: -12px;
          bottom: 3px;
        }
       
        .sendIcon {
          position: absolute;
          right: 12px;
          bottom: 6px;
          color: $app-green;
    
          &:hover {
            cursor: pointer;
            margin-bottom: 1px;
          }
        }
      }
    }
  }
  
  .commentDiv {
    position: relative;
    margin-bottom: 30px;
    
    .existingComment {
      border: 0;
      background-color: #f0f2f5;
      border-radius: 5px;
      margin-inline-start: 52px;
      display: inline-block;
      padding: 10px;
      padding-top: 7px;
      font-size: 14px;
      resize: none;
      position: relative;
      bottom: 3px;
      min-width: 240px;
      max-width: 85%;

      &:focus {
        outline: none;
      }
  
      .commentAuthorName {
        font-weight: 600;
        display: block;
        margin-inline-end: 10px;
      }

      .commentText {
        word-wrap: break-word;
      }
    }
  }
  
  .commentEditSpan {
    margin-top: 5px;
    margin-top: 5px;
    margin-bottom: -5px;
    font-size: 12px;
    font-weight: bold;
    color: $text-gray;
    cursor: pointer;

    .editSpan, .deleteSubcomment  {
      &:hover {
        color: $app-green;
      }
    }

    .editSpan {
      margin-inline-end: 4px;

    }
    
    .deleteAreYouSure {
      cursor: pointer;
      .yes {
        margin-inline-start: 5px;
        margin-inline-end: 3px;

        &:hover {
          color: $app-green;
        }
      }
      .no {
        margin-inline-start: 3px;

        &:hover {
          color: $app-green;
        }
      }
    }
  }

  .subcommentsContainer {
    display: block;
    margin-inline-start: 80px;

    .seeComments {
      font-size: 14px;
      color: $app-green;
      width: fit-content;
      padding: 3px;
      padding-right: 10px;
      padding-left: 10px;
      background-color: $background-gray;
      border-radius: 5px;
      
      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }

    .subcomments {
      .subcommentsDiv {
        .newSubcommentDiv {
          position: relative;
          width: 65%;
          padding: 3px;
          background-color: #f0f2f5;
          border-radius: 5px;
          margin-top: 3px;
          margin-bottom: 5px;
          max-width: 85%;

          .newSubcomment {
            .subcommentAuthorName {
              font-weight: 600;
              font-size: 14px;
              display: block;
              margin-inline-start: 7px;
              margin-top: 4px;

              .editingHint {
                position: absolute;
                right: 10px;
                top: 4px;
                font-size: 12px;
                font-weight: bold;
                color: $text-gray;
              }
            }
            
            .newSubcommentInp {
              border: 0;
              background-color: #f0f2f5;
              border-radius: 5px;
              width: 85%;
              padding: 10px;
              padding-bottom: 0px;
              line-height: inherit;
              font-size: 14px;
              resize: none;
              position: relative;
              bottom: 3px;
              overflow: hidden;

              &.editing {
                padding-left: 7px;
                padding-top: 3px;
                padding-bottom: 0px;
              }

              &:focus {
                outline: none;
              }
            }

            .sendDiv {
              .commentLoader {
                display: inline-flex;
                position: relative;
                right: -4px;
                bottom: 3px;
              }

              .sendIcon {
                position: absolute;
                bottom: 6px;
                right: 10px;
                color: $app-green;

                &:hover {
                  cursor: pointer;
                }
              }
            }
          }
        }

        .subcommentDiv {
          position: relative;
          width: fit-content;
          padding: 3px;
          background-color: $background-gray;
          border-radius: 5px;
          margin-bottom: 5px;
          max-width: 85%;
        }

        .subcomment {
          border: 0;
          border-radius: 5px;
          display: inline-block;
          padding: 7px;
          padding-top: 5px;
          font-size: 14px;
          resize: none;
          max-width: 95%;

          &:focus {
            outline: none;
          }
          
          .subcommentAuthorName {
            font-weight: 600;
            display: block;
            margin-inline-end: 10px;
          }

          .subcommentText {
            word-wrap: break-word;
          }

          .subcommentEditSpan {
            margin-top: 5px;
            margin-top: 5px;
            margin-bottom: -5px;
            font-size: 12px;
            font-weight: bold;
            color: $text-gray;
            cursor: pointer;

            .editSpan, .deleteSpan  {
              &:hover {
                color: $app-green;
              }
            }

            .editSpan {
              margin-inline-end: 4px;

            }
            
            .deleteAreYouSure {
              cursor: pointer;
              .yes {
                margin-inline-start: 5px;
                margin-inline-end: 3px;

                &:hover {
                  color: $app-green;
                }
              }
              .no {
                margin-inline-start: 3px;
 
                &:hover {
                  color: $app-green;
                }
              }
            }
          }
        }
      }
    }
  }
}

.knowledgeSectionDiv {
  

  .fileListDiv {
    background-color: $background-gray;
    font-size: 13px;
    padding-top: 1px;
    padding-bottom  : 1px;
    border-radius: 5px;
    
    .fileListRow, .fileListHeader {
      display: grid;
      grid-template-columns: 10% 45% 20% 25%;
      margin: 3px;
      background-color: white;

      .uploaderImgSpan {
        display: flex;
        align-items: center;
      }

      .fileListCell {
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 10px;
        
        &.publishedCell {
          padding-left: 20px;

          .publishedSpan {
            color: $text-light-blue;
          }
        }
        .fileTitleLink {
          text-decoration: none;
          .titleSpan {
            cursor: pointer;
            color: $text-blue;

            &:hover {
              text-decoration: underline;
            }
          }
        }

        .authorSpan {
          color: $text-light-blue;
        }
      }

      .reactionsCell {
        display: flex;
        justify-content: flex-end;
      }
    }

    .fileListHeader {
      text-transform: uppercase;
      color: $text-gray;
      background-color: $background-gray;
    }
  }
}

.popularSectionDiv {
  display: block;
  height: fit-content;
  border-radius: 5px;
  
  .fileUploadDiv {
    margin-bottom: 50px;

    .uploadBtn {
      background-color: $site-red;
    }
  }

 
  .allItemsDiv {
    padding-left: 5%;
    padding-right: 5%;
    
    .itemDiv {
      display: inline-block;
      position: relative;
      width: 100%;
      border-radius: 5px;
      margin-bottom: 50px;
      
      .uploaderImg {
        width: 50px;
        height: 50px;
        border-radius: 5px;
        position: absolute;
        top: -18px;
        left: -20px;
        z-index: 1;

        &.tiktok {
          top: -5px;
          left: calc(50% - 180px)
        }
      }

      &.youtube:before {
          content: "";
          float: left;
          padding-top: 56%; 	/* initial ratio of 1:1*/
      }
  
      &.spotify:before {
          content: "";
          float: left;
          padding-top: 100%; 	/* initial ratio of 1:1*/
      }
  
      &.tiktok {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: -15px;
      }
  
      .thumbnail {
        .thumbnailIframe {
          min-width: 100%;
          position: absolute;
          height: 100%;
          border-radius: 5px;
        }
      }
  
        .reactionCounters {
          border-radius: 5px;
          position: absolute;
          top: -15px;
          right: 20px;
          z-index: 1;

          &.tiktok {
            top: 5px;
            right: calc(50% - 135px);
    
            .reactionCounters {
              right: 5px;
            }
          }
        }
  
  
  
      .itemTypeImg {
        width: 60px;
        position: absolute;
        right: -30px;
        bottom: -25px;
        z-index: 1;
  
        &.tiktok {
          right: calc(50% - 195px);
          bottom: -5px;
        }
      }
    }
  }
}

.userProfileImg {
  border-radius: 5px;
    display: inline-flex;
    height: 30px;
    width: 30px;

  &.topicImg {
    height: 40px;
    width: 40px;
  }

  &.commentProfileImg {
    position: absolute;
    left: 16px;
  }

  &.newCommentProfileImg {
    position: absolute;
    left: -36px;
  }

  &.subcommentProfileImg {
    position: absolute;
    left: -25px;
    height: 20px;
    width: 20px;
  }

  &.fileListCell {
    border-radius: 15px;
    height: 40px;
    width: 40px;
  }
}

.checkmarkIcon {
  position: relative;
  left: 7px;
  top: 0px;
  color: $app-green;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.reactionCounters {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  position: relative;

  &.commentCounters {
    position: absolute;
    right: 10px;
    top: -10px;
    z-index: 1;
    min-width: 100px;
  }

  .brains, .comments, .highlights {
    margin-inline-end: 5px;
    background: white;
    border-radius: 5px;
    box-shadow: 0px 0px 2px rgba(0,0,0,0.4);
    font-size: 12px;
    padding-left: 7px;
    padding-right: 8px;
    padding-top: 1px;
    padding-bottom: 6px;
    display: inline-block;
    cursor: pointer;

    &.brained {
      background-color: $discussion-blue;
      color: white;

      .counterIcon {
        color: white !important;
      }
    } 

    &.commented {
      background-color: $app-green;
      color: white;

      .counterIcon {
        color: white !important;
      }
    } 
    
    .counterIcon {
      position: relative;
      top: 4px;
      right: 2px;
      margin-inline-end: 3px;
      
      &.brainsIcon {
        color: $discussion-blue;
      }

      &.commentsIcon {
        color: $app-green;
      }

      &.markerIcon {
        color: $text-blue;
        margin-bottom: 1px; 
        margin-inline-start: 3px;
      }
    }        
  }

  .brains:hover:not(.brained) {
    background-color: $background-blue;
    color: $text-gray;
    
    .counterIcon {
      color: $discussion-blue;
    }
  }

  .comments:hover:not(.commented) {
    background-color: $background-green;
    color: $text-gray;
    
    .counterIcon {
      color: $app-green;
    }
  }

  .highlights:hover {
    cursor: default;
  }
}

.fileUploadDiv {
  margin-bottom: 20px;
  display: flex;
  position: relative;

  .uploadBtn {
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 7px rgba(0,0,0,0.2);
    background-color: $discussion-blue;
    color: white;
    cursor: pointer;
    
    &.uploaded {
      background-color: white;
      color: $discussion-blue;  
    }
  }

  .defaultUploadBtn {
    display: none;
  }
  .iconCont {
    position: absolute;
  }
  
  .uploadIcon {
    margin-inline-start: 10px;
    width: 25px;
    height: 25px;
    color: $discussion-blue;
  }
}

.uploadKnowledgeItemForm {
  .uploadFileHeader {
    margin-bottom: 20px;
    color: $text-gray;

    .headerText {
      margin-top: 25px;
      font-weight: bold;
      font-size: 20px;
    }

    .fileName {
      margin-top: 5px;
      font-weight: bold;
      font-size: 16px;
      color: $discussion-blue;
    }
  }

  .uploadFileForm {
    border-top: 1px solid $text-gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    padding: 20px 40px;
    padding-top: 10px;

    .inputDiv {
      width: 100%;
      margin-top: 20px;

      .textInput {
        margin-bottom: 30px;
        height: 30px;
        width: 100%;
      }
    }

    .datePickerDiv {
      width: 100%;
      margin-top: 20px;
    }

    .uploadButton {
      width: 100%;
      background-color: $facebook-blue;
      color: #fff;
      padding: 20px 20px;
      border-radius: 5px;
      border: 0px;
      font-size: 12px;
      font-weight: bold;
      letter-spacing: 1px;
      text-transform: uppercase;
      transition: transform 80ms ease-in;
      margin-top: 30px;
      cursor: pointer;
    }
    .errorDiv {
      color: $site-red;
      margin-top: 10px;
    }
  }
}

.uploadPopularItemForm {
  .uploadFileHeader {
    margin-bottom: 20px;
    color: $text-gray;

    .headerText {
      margin-top: 25px;
      font-weight: bold;
      font-size: 20px;
    }

    .fileName {
      margin-top: 5px;
      font-weight: bold;
      font-size: 16px;
      color: $discussion-blue;
    }
  }

  .uploadFileForm {
    border-top: 1px solid $text-gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    padding: 20px 40px;
    padding-top: 10px;

    .inputDiv {
      width: 100%;
      margin-top: 20px;

      .textInput {
        margin-bottom: 30px;
        height: 30px;
        width: 100%;
      }

      .platformSelect {
        width: 100%;

        .platformName {
          position: relative;
          margin-inline-start: -30px;
          top: -4px;
        }
      }
    }

    .uploadButton {
      width: 100%;
      background-color: $site-red;
      color: #fff;
      padding: 20px 20px;
      border-radius: 5px;
      border: 0px;
      font-size: 12px;
      font-weight: bold;
      letter-spacing: 1px;
      text-transform: uppercase;
      transition: transform 80ms ease-in;
      margin-top: 30px;
      cursor: pointer;
    }
    
    .errorDiv {
      color: $site-red;
      margin-top: 10px;
    }
  }
}