@import 'variables';

body {
  height:100vh;
  background-color: $background-gray;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif !important;
  -webkit-font-smoothing: antialiased;
}

div {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif !important;
  -webkit-font-smoothing: antialiased;
}

span {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif !important;
  -webkit-font-smoothing: antialiased; 
}

textarea {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif !important;
  -webkit-font-smoothing: antialiased;
}

.header {
  background: linear-gradient(to right, $app-green, #5ece41) no-repeat 0 0/cover;
  padding: 10px;
  box-shadow: 0px 0px 7px rgba(0,0,0,0.2);
  margin-bottom: 2px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  .userHeader {
    .userName {
      position: relative;
      bottom: 9px;
      left: 10px;
      font-weight: 600;
    }
  }

  .logout {
    cursor: pointer;
  }
}


.loginDiv {
  display: flex;
  justify-content: center;
  padding-top: 100px;

  .container {
    background: #fff;
    border-radius: 90px;
    box-shadow: 30px 14px 28px rgba(0, 0, 5, .2), 0 10px 10px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
    opacity: 85%;
    width: 750px;
    min-height: 400px;
    
    h1 {
      font-weight: bold;
      margin: 0;
    }
  
    p {
      font-size: 14px;
      font-weight: 100;
      line-height: 20px;
      letter-spacing: .5px;
      margin: 20px 0 30px;
    }
  
    span {
      font-size: 12px;
    }
  
    a {
      color: #0e263d;
      font-size: 14px;
      text-decoration: none;
      margin: 15px 0;
    }
    
    .formContainer {
      position: absolute;
      top: 0;
      height: 100%;
      transition: all .6s ease-in-out;

      &.signInContainer {
        left: 0;
        width: 50%;
        z-index: 2;
      }

      .loginForm { 
        background: #fff;
        display: flex;
        flex-direction: column;
        padding:  0 50px;
        height: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
  
        .socialContainer {
          margin: 20px 0;
          display: inline-flex;
          flex-direction: row;
          justify-content: space-evenly;
          width: 50%;
          
          .facebookButton {
            color: $facebook-blue;
            cursor: pointer;
          }

          .googleButton {
            color: $google-red;
            cursor: pointer;
          }
        }

        .forgotPassword {
          margin-bottom: 20px;
        }
      }

      input {
        background: #eee;
        border: none;
        border-radius: 50px;
        padding: 12px 15px;
        margin: 8px 0;
        width: 100%;
        outline: none;
      }
    }
  }

  button {
    border-radius: 50px;
    border: 1px solid white;
    background: $app-green;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    cursor: pointer;

    &:active {
      transform: scale(.95);
    }
  }
  
  .overlayContainer {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform .6s ease-in-out;
    z-index: 100;
      
    .overlay {
      background: linear-gradient(to right, $app-green, #5ece41) no-repeat 0 0/cover;
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;

      .createAccountDiv {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
  }
}


.mainDiv {
  padding-top: 30px;
  display: flex;
  justify-content: center;
  
  .mainPage {
    padding: 20px;
    background-color: $background-white;
    border-radius: 5px;
    box-shadow: 0px 0px 2px rgba(0,0,0,0.4);
    width: 50%;
  }
}

.postDiv {
  min-height: 100vh;

  .postHeaderDiv {
    display: flex;

    .nameAndDate {
      display: flex;
      flex-direction: column;
      margin-left: 7px;
      position: relative;
      bottom: 4px;
      margin-right: 0px;
      
      .userNameSpan {
        display: flex;
        margin-top: 2px;
        
        .userName {
          font-weight: 500;
        }
      }

      .postCreatedTime {
        font-size: 12px;
        margin-top: 1px;
        color: $text-gray;
        font-weight: 400;
        
        .globeIcon {
          position: relative;
          left: 5px;
          top: 2px;
        }
      }
    }
  }
  .postText {
    margin-left: 47px;
    margin-top: 5px;
  }
  .bodySelectionDiv {
    margin-left: 48px;
    margin-top: 25px;
    margin-bottom: 25px;

    .bodySelectionCard {
      display: inline-flex;
      flex-direction: column;
      text-align: center;
      background-color: $background-white;
      padding: 3px;
      padding-left: 9px;
      padding-right: 10px;
      border-radius: 14px;
      margin-right: 10px;
      
      &.selected {
        background-color: $background-gray;
      }

      &:hover {
        cursor: pointer;
        background-color: $background-gray;
      }

      .selectionImg {
        width: 50px;
        height: 50px;
      }

      .dataCount {
        font-size: 11px;
        color: $text-gray;
      }
    }
  }
}

.discussionSectionDiv {
  .discussionSectionDiv {
    position: relative;
    margin-bottom: 20px;
    .newComment {
      .commentInp {
        border: 0;
        background-color: #f0f2f5;
        border-radius: 15px;
        margin-left: 48px;
        width: 60%;
        padding: 10px;
        padding-right: 50px;
        line-height: inherit;
        font-size: 14px;
        resize: none;
        position: relative;
        bottom: 3px;
        overflow: hidden;

        &:focus {
          outline: none;
        }
      }

      .sendIcon {
        position: relative;
        right: 30px;
        bottom: 13px;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
  .commentDiv {
    position: relative;
    margin-bottom: 20px;
    .newComment {
      .commentInp {
        border: 0;
        background-color: #f0f2f5;
        border-radius: 15px;
        margin-left: 48px;
        width: 60%;
        padding: 10px;
        line-height: inherit;
        font-size: 14px;
        resize: none;
        position: relative;
        bottom: 3px;
        overflow: hidden;
      }
    }

    .existingComment {
      border: 0;
      background-color: #f0f2f5;
      border-radius: 15px;
      margin-left: 48px;
      display: inline-block;
      padding: 10px;
      font-size: 14px;
      resize: none;
      position: relative;
      bottom: 3px;
  
      &:focus {
        outline: none;
      }
  
      .commentAuthorName {
        font-weight: 600;
        display: block;
        margin-right: 10px;
      }
    }
  }
  
  .subcommentsContainer {
    display: block;
    margin-left: 80px;


    .seeComments {
      font-size: 14px;
      color: $discussion-blue;
      width: fit-content;
      padding: 3px;
      padding-right: 10px;
      padding-left: 10px;
      background-color: $background-gray;
      border-radius: 10px;
      
      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }

    .subcomments {
      .subcommentsDiv {
        .newSubcommentDiv {
          position: relative;
          width: 65%;
          padding: 3px;
          background-color: #f0f2f5;
          border-radius: 11px;
          margin-top: 3px;
          margin-bottom: 5px;

          .newSubcomment {
            .subcommentAuthorName {
              font-weight: 600;
              font-size: 14px;
              display: block;
              margin-left: 7px;
              margin-top: 4px;

              .editingHint {
                position: absolute;
                right: 10px;
                top: 4px;
                font-size: 12px;
                font-weight: bold;
                color: $text-gray;
              }
            }
            
            .newSubcommentInp {
              border: 0;
              background-color: #f0f2f5;
              border-radius: 15px;
              width: 85%;
              padding: 10px;
              padding-bottom: 0px;
              line-height: inherit;
              font-size: 14px;
              resize: none;
              position: relative;
              bottom: 3px;
              overflow: hidden;

              &.editing {
                padding-left: 7px;
                padding-top: 3px;
                padding-bottom: 0px;
              }

              &:focus {
                outline: none;
              }
            }
            .sendIcon {
              position: absolute;
              bottom: 5px;
              right: 10px;

              &:hover {
                cursor: pointer;
              }
            }
          }
        }

        .subcommentDiv {
          position: relative;
          width: fit-content;
          padding: 3px;
          background-color: $background-gray;
          border-radius: 10px;
          margin-bottom: 5px;
        }

        .subcomment {
          border: 0;
          background-color: #f0f2f5;
          border-radius: 15px;
          display: inline-block;
          padding: 7px;
          font-size: 14px;
          resize: none;
          position: relative;
          bottom: 3px;
      
          &:focus {
            outline: none;
          }
      
          .subcommentAuthorName {
            font-weight: 600;
            display: block;
            margin-right: 10px;
          }

          .subcommentEditSpan {
            margin-top: 5px;
            margin-top: 5px;
            margin-bottom: -5px;
            font-size: 12px;
            font-weight: bold;
            color: $text-gray;
            cursor: pointer;

            .editSubcomment, .deleteSubcomment  {
              &:hover {
                color: $discussion-blue;
              }
            }

            .editSubcomment {
              margin-right: 4px;

            }
            
            .deleteAreYouSure {
              cursor: pointer;
              .yes {
                margin-left: 5px;
                margin-right: 3px;

                &:hover {
                  color: $discussion-blue;
                }
              }
              .no {
                margin-left: 3px;
 
                &:hover {
                  color: $discussion-blue;
                }
              }
            }
          }
        }
      }
    }
  }
}

.knowledgeSectionDiv {
  .fileListDiv {
    background-color: $background-gray;
    font-size: 13px;
    padding-top: 1px;
    padding-bottom  : 1px;
    border-radius: 10px;
    
    .fileListRow, .fileListHeader {
      display: grid;
      grid-template-columns: 8% 42% 25% 25%;
      margin: 3px;
      background-color: white;

      .uploaderImgSpan {
        display: flex;
        align-items: center;
      }

      .fileListCell {
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 10px;
        
        &.publishedCell {
          padding-left: 20px;

          .publishedSpan {
            color: $text-light-blue;
          }
        }
        .fileTitleLink {
          text-decoration: none;
          .titleSpan {
            cursor: pointer;
            color: $text-blue;
          }
        }

        .authorSpan {
          color: $text-light-blue;
        }
      }

      .reactionsCell {
        display: flex;
        justify-content: flex-end;
      }
    }

    .fileListHeader {
      text-transform: uppercase;
      color: $text-gray;
      background-color: $background-gray;
    }
  }
}

.popularSectionDiv {
  display: block;
  height: fit-content;
  border-radius: 10px;
  padding: 5%;
 
  .itemDiv {
    display: inline-block;
    position: relative;
    width: 100%;
    border-radius: 20px;
    margin-bottom: 50px;
    
    &.youtube:before {
        content: "";
        float: left;
        padding-top: 56%; 	/* initial ratio of 1:1*/
    }

    &.spotify:before {
        content: "";
        float: left;
        padding-top: 100%; 	/* initial ratio of 1:1*/
    }

    &.tiktok {
      width: 100%;
      display: flex;
      justify-content: center;
    }

    .thumbnail {
      .thumbnailIframe {
        min-width: 100%;
        position: absolute;
        height: 100%;
        border-radius: 20px;
      }
    }

    .footer {
      position: absolute;
      bottom: -30px;
      right: -25px;
  
      .reactionCounters {
        border-radius: 50%;
        position: relative;
        top: -18px;
        right: 10px;
      }

      .uploaderImg {
        width: 60px;
        height: 60px;
        border-radius: 50%;
      }

      &.tiktok {
        bottom: -15px;
        right: calc(50% - 190px);

        .reactionCounters {
          right: 5px;
        }
      }
    }

    .itemTypeImg {
      width: 60px;
      position: absolute;
      left: -25px;
      top: -25px;
      z-index: 1;

      &.tiktok {
        left: calc(50% - 185px);
        top: -15px;
      }
    }
  }
}

.userProfileImg {
  border-radius: 50%;
  display: inline-flex;
  height: 30px;
  width: 30px;

  &.postImg {
    height: 40px;
    width: 40px;
  }

  &.commentProfileImg {
    position: absolute;
    left: 10px;
  }

  &.subcommentProfileImg {
    position: absolute;
    left: -25px;
    height: 20px;
    width: 20px;
  }
}

.checkmarkIcon {
  position: relative;
  left: 7px;
  top: 0px;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.reactionCounters {
  &.commentCounters {
    position: absolute;
    right: 12px;
    top: -10px;
    z-index: 1;
    min-width: 100px;
  }

  .brains, .comments, .highlights {
    margin-right: 5px;
    background: white;
    border-radius: 30px;
    box-shadow: 0px 0px 2px rgba(0,0,0,0.4);
    font-size: 12px;
    padding-left: 7px;
    padding-right: 8px;
    padding-top: 1px;
    padding-bottom: 6px;
    color: $text-gray;
    display: inline-block;
    cursor: pointer;

    &.brained {
      background-color: $brain-pink;
      color: white;

      .counterIcon {
        color: white !important;
      }
    } 

    &.commented {
      background-color: $discussion-blue;
      color: white;

      .counterIcon {
        color: white !important;
      }
    } 
    
    .counterIcon {
      position: relative;
      top: 4px;
      right: 2px;
      margin-right: 3px;
      
      &.brainsIcon {
        color: $brain-pink;
      }

      &.commentsIcon {
        color: $discussion-blue;
      }

      &.markerIcon {
        margin-bottom: 1px; 
        margin-left: 3px;
      }
    }        
  }

  .brains:hover:not(.brained) {
    background-color: $background-pink;
    color: $text-gray;
    
    .counterIcon {
      color: $brain-pink;
    }
  }

  .comments:hover:not(.commented) {
    background-color: $background-blue;
    color: $text-gray;
    
    .counterIcon {
      color: $discussion-blue;
    }
  }

  .highlights:hover {
    cursor: default;
  }
}